body {
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    margin-left: 20rem;
    margin-right: 20rem;
}

h1 {
    font-size: 50px;
}

.element {
    margin: 1rem;
}

.header {
    border: 1px solid black;
    width: 100%;
    height: 10rem;
    justify-content:space-between;
    display: flex;
    align-items: center;
    box-shadow: 6px 6px 6px gray;
    margin-bottom: 2rem;
}

.background_button {
    background-color: hwb(240 49% 20%);
    width: 3rem;
    height: 3rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 6px;
}

img {
    max-width: 100%;
    max-height: auto;
}

.menu {
    background-color: rgba(128, 128, 128, 0.582);
    min-width: 100px;
    max-width: 10%;
    height: 80%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.menu a {
    text-decoration: none;
    display: block;
}

.menu a:hover {
    background-color: #596D48;
    color: white;
    border-radius: 16px;
}

.home_button,
.card_button,
.cad_button {
    font-size: 20px;
    width: 100%;
    height: 100%;
    margin: 5px;
    text-align: center;
}

/*---------- Dark theme ----------*/

body.dark_background {
    background-color: hsl(0, 0%, 18%);
    color: white;
}

body.dark_background .header {
    border: 1px solid #b8b8b8;
    box-shadow: 6px 6px 6px #6e6e6e;
    color: white;
}

body.dark_background .menu {
    background-color: #c7c5c594;
}

body.dark_background .series_catalog {
    background-color: hwb(0 13% 87%);
}

body.dark_background .background_button {
    box-shadow: 6px 6px 6px #6e6e6e;
}

/*---------- Fim do básico de todas as páginas ----------*/

.series_catalog {
    width: 100%;
    min-height: 80vh;
    max-height: auto;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(4, 350px);
    gap: 70px;
}

.catalog_element {
    background-color: red;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
}